.card__content {
  position: relative;
  list-style-type: none;
  max-width: 413px;
  height: 445px;
  padding: 0;
}

.card__image {
  width: 413px;
  height: 413px;
  margin-bottom: 12px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 8px;
  display: block;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__description {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 360px;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent url("../images/like-Icon-dark.svg") center no-repeat;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_liked {
  background: url("../images/like-btn-Liked.svg") center no-repeat;
  opacity: 1;
}

.card__like-btn_liked:hover {
  background: transparent url("../images/like-btn-liked&hover.svg") center
    no-repeat;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent url("../images/delete-btn-Default.svg") center
    no-repeat;
}

.card__delete-btn:hover {
  background: transparent url("../images/delete-btn-Hover.svg") center no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .card__content {
    max-width: 288px;
    height: 318px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    font-size: 16px;
    line-height: 16px;
    max-width: 250px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
