.card__content {
  list-style-type: none;
  max-width: 413px;
  height: 445px;
  padding: 0;
}

.card__image {
  width: 413px;
  height: 413px;
  margin-bottom: 12px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 8px;
  display: block;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.card__description {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.card__like-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}
